body{
    font-family: "Roboto", sans-;
    background-color: black;
    margin: 10% auto;
    
}

.post{
    background-color: white;
    width: 500px;
    margin: 0% auto;
}

.post-header{
    display: flex;
    justify-content: space-between;
}

.post-header-left{
    display: flex;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.html5-icon{
    font-size: 35px;
}

.text-html p{
    display: flex;
    margin: 0;
    margin-left: 10px;
}

.post-header-right{
    display: flex;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.post-header-right{
    font-size: 35px; 
}

img {
    width: 100%;
    
}

.post-icons{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.post-icons-left{
    font-size: 30px;

}

.post-icons-right{
    font-size: 30px;

}

.post-body-text {
    width: 480px;
    padding-bottom: 15px;
    margin: 10px;
}

